<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <title>Blockchain</title>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto mt-5">
        <h1 class= "mb-5"> Loans</h1>

        <form action="{{ url_for("index") }}" method="POST">
          <label for="borrower" class="form-label">Borrower</label>
          <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Name</span>
          <input type="text" class="form-control" id="borrower" aria-describedby="basic-addon3" name ="borrower">
        </div>
          <label for="lender" class="form-label">Lender</label>
          <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Name</span>
          <input type="text" class="form-control" id="lender" aria-describedby="basic-addon3" name= "lender">
        </div>
          <label for="amount" class="form-label">Amount</label>
          <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">$</span>
          <input type="text" class="form-control" id="amount" aria-describedby="basic-addon3" name ="amount">
        </div>

        <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>


  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto mt-5 mb-5 text-center">
        <form action="{{ url_for("check") }}" class= "mb-5">
          <button class="btn btn-outline-info">Check</button>
        </form>

        {% for res in checking_results %}
          <div>
            Block {{ res["block" ]}} : {{ res["result"] }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</body>
</html>
